<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">

	<context:component-scan base-package="com.yidu.sinner.*.biz"></context:component-scan>
    
	
	<!-- 配置事务管理器 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置事务通知 使用事务管理器生成事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*Query" read-only="true" />
			<tx:method name="*U"/>
			<!-- <tx:method name="*U" isolation="DEFAULT" propagation="REQUIRED"
				timeout="-1" read-only="false" /> -->
		</tx:attributes>
	</tx:advice>

	<!-- 配置事务AOP 使用上面的事务通知 -->
	<aop:config>
		<aop:pointcut id="txPC"   
			expression="execution(* com.yidu.sinner.*.biz.impl.*.*(..))" />
		<aop:advisor pointcut-ref="txPC" advice-ref="txAdvice" />
	</aop:config>
</beans>